<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Denis Portfolio</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <!-- NAVBAR -->
  <section>
    <nav class="navbar navbar-expand-lg navbar-light menu shadow">
      <div class="container">
        <a class="navbar-brand" href="#">Denis Peralta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Certificates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Projects</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <!-- MAIN -->
  <section id="main" class="main-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 ">
          <h1 class="display-2">
            <span class="display-2--main">Hey!, I'm Denis.</span>
            <span class="display-2--description lh-base">I’m a Web / Software Developer living in Ponta Porã -
              Brazil.</span>
            <span class="display-2--description lh-base fw-bold">I love computers and logic.</span>
          </h1>
        </div>
        <div class="col-md-6">
          <div class="image-box-main ms-auto">
            <img src="/public/images/portfolio-image.jpg" alt="" class="">
          </div>
        </div>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
        d="M0,224L21.8,202.7C43.6,181,87,139,131,149.3C174.5,160,218,224,262,229.3C305.5,235,349,181,393,144C436.4,107,480,85,524,80C567.3,75,611,85,655,85.3C698.2,85,742,75,785,90.7C829.1,107,873,149,916,160C960,171,1004,149,1047,117.3C1090.9,85,1135,43,1178,48C1221.8,53,1265,107,1309,117.3C1352.7,128,1396,96,1418,80L1440,64L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
      </path>
    </svg>
  </section>

  <!-- ABOUT ME -->

  <section id="about-me" class="about-me-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 ">
          <div class="image-box-about-me mx-auto">
            <img src="/public/images/portfolio-image.jpg" alt="" class="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="container">
            <h1 class="display-3">About Me</h1>
            <span class="display-3--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              asperiores minima reiciendis unde numquam doloremque corrupti ipsa veritatis ratione voluptates aut itaque
              at similique, provident tempora neque sequi non. Libero?</span>
            <div class="contact d-flex justify-content-center">
              <span class="display-3--contact">Contact Me:</span>
            </div>
            <div class="socials d-flex justify-content-center">
              <a href=""><img src="" alt="Linkedin"></a>
              <a href=""><img src="" alt="Github"></a>
              <a href=""><img src="" alt="E-mail"></a>
            </div>
            <div class="download d-flex justify-content-center">
              <a href="/">My Curriculum</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
        d="M0,224L21.8,202.7C43.6,181,87,139,131,149.3C174.5,160,218,224,262,229.3C305.5,235,349,181,393,144C436.4,107,480,85,524,80C567.3,75,611,85,655,85.3C698.2,85,742,75,785,90.7C829.1,107,873,149,916,160C960,171,1004,149,1047,117.3C1090.9,85,1135,43,1178,48C1221.8,53,1265,107,1309,117.3C1352.7,128,1396,96,1418,80L1440,64L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
      </path>
    </svg>
  </section>



  <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>