@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/typography" as *;

.menu{
    @include gradient;
    font-family: 'Roboto Slab', serif;
    padding: 1rem 0;
    
    li{
        padding: 0 0.7rem;
        a{
            color: $dark !important;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
}